SUPABASE_URL=https://qltcyhjdsmmvfqggwngr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsdGN5aGpkc21tdmZxZ2d3bmdyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNzMzMTQsImV4cCI6MjA5Mzc0OTMxNH0.HiUvcZ3xwm_zJ0ws2EDMldc95mgvrCuUMOqYYY4YYxY
PORT=3001
GOOGLE_GENAI_API_KEY=